<main class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4 text-dark">Mascotas Encontradas</h1>
      <a href="/newpost" class="btn btn-info">Agrega una mascota</a>
    </div>
  </div>
  <br>
  <h1 class="mb-4 text-dark">Revisa tus publicaciones</h1>
  {{#each posts}}
    <div class="post-container post mb-3">
      <h2><a href="/post/{{id}}" class="text-decoration-none text-reset">{{title}}</a></h2>
      <img src={{imageUrl}} alt="pet_picture" style="width: 180px; height: 180px;">
      <p>By {{user.username}} on {{format_date createdAt}}</p>
      <a href="/editpost/{{id}}" class="btn btn-info">Edit</a>
      <button class="btn btn-danger delete-post" data-post-id="{{id}}">Delete</button>
    </div>
  {{/each}}
</main>
