<main class="container mt-5">

  {{#if logged_in}}
    <!-- If the user is logged in, do not show the registration and login forms -->
    <h1 class="mb-4 text-gray-800">Nos da gusto verte de nuevo!</h1>
  {{else}}
<section class="flex flex-wrap">
<!-- Left: Login Form -->
<section class="w-full md:w-1/2 p-4">
  <h1 class="w-1/2 px-4 py-2 mb-2 bg-teal-900 text-white rounded-md">Ingresa con tu usuario</h1>
  <form class="hearthstone-login-form bg-emerald-300 text-white rounded-lg">
    <div class="mb-3 flex flex-col items-center"> <!-- Center inputs vertically and horizontally -->
      <label for="username" class="block text-white">Usuario</label>
      <input
        type="text"
        class="w-5/6 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-yellow-500"
        id="username-hearthstone-login"
        placeholder="Nombre de usuario"
      />
    </div>
    <div class="mb-3 flex flex-col items-center"> <!-- Center inputs vertically and horizontally -->
      <label for="password" class="block text-white">Contraseña</label>
      <input
        type="password"
        class="w-5/6 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-yellow-500"
        id="password-hearthstone-login"
        placeholder="Ingresa tu Contraseña"
      />
    </div>

    <!-- Create blank space -->
    <div class="flex items-center mb-3">
      <div class="w-full h-12 bg-transparent"></div>
    </div>

    <div class="flex justify-center"> <!-- Center the button -->
      <button type="submit" class="w-5/6 px-4 py-2 m-2 bg-teal-900 text-white rounded-md hover:bg-yellow-600">¡Ingresa!</button>
    </div>
  </form>
</section>

      <!-- Right: Signup Form -->
<section class="w-full md:w-1/2 p-4">
  <h1 class="w-1/2 px-4 py-2 mb-2 bg-teal-900 text-white rounded-md ">Únete a la comunidad</h1>
  <form id="signup-form" class="hearthstone-signup-form bg-emerald-300 text-white rounded-lg">
    <div class="mb-3 flex flex-col items-center"> <!-- Center inputs vertically and horizontally -->
      <label for="username" class="block text-white">Nombre de Usuario</label>
      <input
        type="text"
        class="w-5/6 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-yellow-500"
        id="username"
        placeholder="Pon tu nombre de usuario"
      />
    </div>
    <div class="mb-3 flex flex-col items-center"> <!-- Center inputs vertically and horizontally -->
      <label for="email" class="block text-white">Correo electrónico</label>
      <input
        type="email"
        class="w-5/6 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-yellow-500"
        id="email"
        placeholder="Pon tu correo electrónico"
      />
    </div>
    <div class="mb-3 flex flex-col items-center"> <!-- Center inputs vertically and horizontally -->
      <label for="password" class="block text-white">Crea una contraseña</label>
      <input
        type="password"
        class="w-5/6 px-3 py-2 rounded-md focus:outline-none focus:border-yellow-500"
        id="password"
        placeholder="Utiliza una contraseña segura"
      />
    </div>
    <div class="flex justify-center"> <!-- Center the button -->
      <button type="submit" class="w-5/6 px-4 py-2 mb-2 bg-teal-900 text-white rounded-md hover:bg-yellow-600">🦊Únete🦊</button>
    </div>
  </form>
</section>

  <div class="flex items-center mb-0"> <!-- Create blank space -->
            <div class="w-full h-12 bg-transparent"></div>
  </div>
  {{/if}}

  <div class="flex items-center mb-0"> <!-- Create blank space -->
            <div class="w-full h-13 bg-transparent"></div>
  </div>
  <!-- Posts Section Below -->
<section class="text-center mx-auto">
  <h1 class="block mx-auto mb-4 h-10 bg-teal-900 rounded-md text-white py-2">¡Mascotas Encontradas por la Comunidad!</h1>
<div class="flex block justify-center">
  {{#each posts}}
      <div class="w-full mr-10 md:w-1/3 lg:w-1/4 p-4 shadow-[5px_5px_rgba(0,_98,_90,_0.4),_10px_10px_rgba(0,_98,_90,_0.3),_15px_15px_rgba(0,_98,_90,_0.2),_20px_20px_rgba(0,_98,_90,_0.1),_25px_25px_rgba(0,_98,_90,_0.05)]">
        {{#if image_url}}
          <img src="{{image_url}}" alt="Imagen de animal encontrado" class="petCard-img">
        {{else}}
          <img src="/Assets/img/DogPlaceholder.svg" alt="Imagen de animal encontrado" class="petCard-img">
        {{/if}}
        <div class="bg-color-02 shadow-md rounded-md p-4">
          <h2 class="text-lg font-semibold mb-2">
            <a href="/post/{{id}}" class="text-gray-900">{{title}}</a>
          </h2>
          <p class="text-gray-600">By {{User.username}} on {{format_date createdAt}}</p>
        </div>
      </div>
  {{/each}}
</div>
</section>

<!-- Create blank space -->
<div class="w-full h-16 bg-transparent"></div>

<!-- MAP Section Below -->
<div class="bg-teal-900 w-full py-16 text-center">
    <p class="text-white text-2xl font-bold">This is the map placeholder</p>
    <!-- Add content or components here -->
</div>

</section>
</main>
